 /* Centering the main content */
 .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  /* Styling the service boxes */
  .service-box {
    margin: 0px;
    padding: 20px;
    border-radius: 5px;
  }
  /* Styling the headings */
  h1 {
    margin-bottom: 50px;
  }
  .backgeound-img {
    background-image: url('./../../../assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Optionally, set other properties like background-position */
}
.moble-dev{
    background-image: url('./../../../assets/mobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .content-container {
      flex-direction: column; /* Stack items vertically on small screens */
    }
    .service-image,
    .service-description {
      width: 100%; /* Full width on small screens */
      margin-right: 0; /* Remove the margin between items */
    }
  }

  .content-container {
    display: flex; /* Use flexbox to layout children side by side */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: left; /* Align text to the left */
    padding: 20px;
  }

  /* Style for the image */
  .service-image {
    width: 33%; /* Set image width to 50% of the container */
    margin-right: 20px; /* Add some space between the image and the content */
  }

  /* Style for the content */
  .service-description {
    width: 50%; /* Set content width to 50% of the container */
  }