<div class="login-container">
    <app-side-nav></app-side-nav>
    <div class="main-content mb-2">
            <h1 style="margin-bottom: 0px;">Our Services</h1>
            <!-- Service Box for Mobile App Development -->
            <div class="service-box">
                <h2>Mobile App Development</h2>
                <div class="content-container">
                    <!-- Image -->
                    <img class="service-image" src="./../../../assets/mobile.jpeg" alt="Our Services">
                    <!-- Content -->
                    <div class="service-description">
                        <p>We offer end-to-end mobile app development services, from concept to deployment, for both iOS
                            and Android platforms.</p>
                    </div>
                  </div>
               </div>

            <!-- Service Box for Website Development -->
            <div class="service-box">
                <h2>Website Development</h2>
                <div class="content-container">
                   <!-- Content -->
                    <div class="service-description">
                        <p>Our team creates responsive, user-friendly websites tailored to your business needs and
                            customer expectations.</p>
                    </div>
                     <!-- Image -->
                     <img class="service-image" src="./../../../assets/webdev.jpeg" alt="Our Services">
                  </div>
                </div>

            <!-- Service Box for UX/UI and Graphics Design -->
            <div class="service-box">
                <h2>UX/UI and Graphics Design</h2>
                <div class="content-container">
                    <!-- Image -->
                    <img class="service-image" src="./../../../assets/ui.jpeg" alt="Our Services">

                    <!-- Content -->
                    <div class="service-description">
                        <p>We provide comprehensive design solutions that enhance user experience and engagement through
                        intuitive interfaces and captivating graphics.</p>
                    </div>

                </div>
                
            </div>

        </div>
    
    <app-footer></app-footer>