<div class="navbar navbar-expand-md navbar-dark bg-tr">
  <div>
    <div class=" navbar-toggler m-2 " (click)="toggleSlideOut()">
      <mat-icon>menu</mat-icon>
    </div>
 </div>
 <div class="logo-txt col-md-6 m-2"><img class="logo mr-2" src="assets/logo.png"> <span class="p-2">SR Technologies </span></div>
 
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onService()">Service<span ></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="onClients()">Clients</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  (click)="onContact()">Contact Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="onAbout()">About Us<span ></span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link  pe-3" target="_blank" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
         </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  pe-3" target="_blank" href="">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
         </a>
      </li> -->
    </ul>
  
  </div>
</div>
<div class="slide-out-panel" [class.slide-out]="isSlideOut">
      <div class="slide-out-content">
       <p class="edit-col" (click)="onService()">Service</p>
        <p class="edit-col" (click)="onClients()">Clients</p>
        <p class="edit-col" (click)="onContact()">Contact Us</p>
        <p class="edit-col" (click)="onAbout()">About Us</p>
      </div>
</div>

  