.footer{
    height: 60px;
    background: #2b3875;
    padding-top: 5px;
    border-top: 1px solid #c6c6c6;
    
  }
  .text-muted {
    --bs-text-opacity: 1;
    color: rgb(255 255 255 / 75%) !important;
}