.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .bg-tr{
    background: linear-gradient(to right, #27245f 0, #3c7dc1 100%);
  }
  .logo-txt{
    font-weight: 500;
    font-size: 35px;
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 1) !important;
  }
  
  @media only screen and (max-width: 767px) {
    .bg-blue{
    background: linear-gradient(to right, #27245f 0, #3c7dc1 100%);
    text-align: right;
    margin-top:15px;
    margin-bottom:-2px;
    margin-left:-11px;
    margin-right:-15px;
    padding-right:15px;


  }
  .logo-txt{
    font-size: 15px;
  }
  }
  
  
  :host {
    padding-top: 66px;
  }